# Load File

In [22]:
import pandas as pd
import sqlite3

data = pd.read_excel('data/Sample - Superstore.xls')
data.head()

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

# Publish data in sqlite

In [16]:
conn = sqlite3.connect('example_database')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS orders (
        RowID number,
        OrderID text,
        OrderDate date,
        ShipDate date,
        ShipMode text,
        CustomerID text,
        CustomerName text,
        Segment text,
        Country text,
        City text,
        State text,
        PostalCode number,
        Region text,
        ProductID text,
        Category text,
        SubCategory text,
        ProductName text,
        Sales number,
        Quantity number,
        Discount number,
        Profit number)''')
conn.commit()

In [23]:
n_rows = data.to_sql('orders', conn, if_exists='replace', index = False)

# Example 1: Count rows

In [26]:
sql = 'select count(*) from orders'

pd.read_sql(sql, conn)

   count(*)
0      9994